{#
/**
 * book.html.twig - Book detailed view.
 *
 * @author          Luciano Goulart
 * @version         1.0.0
 * @copyright       Professeur Baptiste Pesquet - OpenClassrooms
 */
#}
{% extends "layout.html.twig" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<article>
    <h1>{{ book.title }}</h1>
    <ul>
        <li>Auteur : {{ book.author.firstname }} {{ book.author.lastname }}</li>
        <li>ISBN : {{ book.isbn }}</li>
    </ul>
    <p>{{ book.summary }}</p>
</article>
{% endblock %}
