/**
 *
 * mybooks.css
 *
 * Projet MyBooks
 *
 *
 * @author      Luciano Goulart
 * @started     03/02/2016
 * @updated
 * @project     MyBooks
 * @namefile    mybooks.css
 * @fileversion 1.0.0
 * @cssversion  css3
 */

/**
 * -------------------------
 * Font
 * -------------------------
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

/**
 * -------------------------
 * Generique
 * -------------------------
 */
body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px; /* Font base - overwrite boostrap font-size of 14 px */
    padding-top: 50px;
}


/**
 * -------------------------
 * Header
 * -------------------------
 */


/**
 * -------------------------
 * Content
 * -------------------------
 */
/* Book Title */
.bookTitle:hover, .bookTitle:focus {
    text-decoration: none;
}


/**
 * -------------------------
 * Footer
 * -------------------------
 */
footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}


/**
 * -------------------------
 * Specific CSS
 * -------------------------
 */
/* Small devices (tablets, 768px and up) - SM */
@media (min-width: 768px) {
    /* Header */

    /* Section contenu */

    /* Footer */

}


/* Medium devices (desktops, 992px and up) - MD */
@media (min-width: 992px) {
    /* Header */

    /* Section contenu */

    /* Footer */

}


/* Large devices (large desktops, 1200px and up) LG */
@media (min-width: 1200px) {
    /* Header */

    /* Section contenu */

    /* Footer */

}
